<h1>Make a reservation for <%= @location.title %>!</h1>

<%= link_to @location.title, location_url(@location) %>


<form action="<%= reservations_url %>" method="post">

	<input type="hidden"
	       name="authenticity_token"
	       value="<%= form_authenticity_token %>">


	<input type="hidden"
	       name="reservation[location_id]"
	       value="<%= @location.id %>">

	<label for="date_start">Start Date</label>
	<br>
	<input type="date" name="reservation[date_start]" id="date_start">
	<br>
	<label for="date_end">End Date</label>
	<br>
  <input type="date" name="reservation[date_end]" id="date_end">
	<br>
	<input type="submit" value="Make Reservation!">

</form>