<div style="border-bottom: 1px solid black;">
  <div class="reviews">
	<strong>Reviews (<%= reviews.length %>):</strong><br>
	<% if (reviews.length > 0) { %>
	<% var total = 0 %>
	  <% reviews.each(function(review){ total+= Number(review.escape('rating'))}) %>   
  <strong>Average Rating (<%= total / reviews.length %>):</strong><br>
  <% } %>
	<% reviews.each(function(review){ %>

	  <div class="review">
      <div class="review-picture">
		    <img src="<%= review.escape("picture_url") %>">
      </div>
		  <div class="review-content">
		    <li><strong>Reviewer:</strong> <%= review.escape("username") %></li>
		    <li><strong>Rating:</strong> <%= review.escape("rating") %></li>
		    <li><strong>Review:</strong> <%= review.escape("body") %></li>
	    </div>
    </div>
    <br>
	<% }) %>

  <br>
</div>
</div>
<div>
<strong>Add a Review!</strong>

<form class="add-review">

	<input type="hidden"
	       name="review[location_id]"
	       value="<%= location.escape("id") %>">

	<label for="body">Comments:</label>
	<br>
	<textarea name="review[body]" id="body" rows="10" cols="40"></textarea>

  <br><br>
  <label for="rating">Rating</label>
	<select name="review[rating]" id="rating">
	  <option value=5>5</option>
	  <option value=4>4</option>
	  <option value=3>3</option>
	  <option value=2>2</option>
	  <option value=1>1</option>
  </select>

	<input type="submit" value="Add Review!">

</form>
</div>

<br><br>

<a href="#/locations/<%= location.escape('id') %>">Back to <%= location.escape("title") %></a>