<div class="location-show-main-picture">
  <% if (firstPicture){ %>
       <% var image_url = firstPicture.escape("image_url") %>
       <img src="<%= image_url %>" style="display: block; height: 100%; margin-left: auto; margin-right: auto">
  <% } else { %>

       <img src="http://upload.wikimedia.org/wikipedia/commons/e/ef/Cathedral_Group_panorama_from_Cathedral_Group_Scenic_Turnout2.JPG" style="display: block; height: 100%; margin-left: auto; margin-right: auto">

  <% } %>
</div>

<div class="location-show-mini-blurb">
	<li><strong>Title: </strong><%= location.escape("title") %></li>
	<li><strong>Description: </strong><%= location.escape("description") %></li>
	<li><strong>Price: </strong><%= location.escape("price") %></li>
	<li><strong>Address: </strong><%= location.escape("address") %></li>
  
  <br>
	<a href="#/locations/<%= location.escape('id') %>/reservations">Make a reservation</a>
	<a href="#/locations/<%= location.escape('id') %>/reviews">Reviews</a>
  <a href="#/locations/<%= location.escape('id') %>/edit">Edit Location Details</a>
  <a href="#/master/">Browse Other Locations</a>
  
</div>

<div class="location-show-other">

<form>

	<input type="hidden"
	       name="location_picture[location_id]"
	       value="<%= location.escape('id') %>">

	<label for="image_url">Upload Image:</label>
	<input type="text" name="location_picture[image_url]" id="image_url" placeholder="Paste URL here">

	<input type="submit" value="Upload">

</form>

<br>

  <% pictures.each(function(picture){ %>
  <span>
    <a href="<%= picture.escape('image_url') %>">
      <img src="<%= picture.escape('image_url') %>" height="200px" width="200px">
    </a>
  </span>
  
  <% })  %>


</div>


</div>