<h1>Location Index Page</h1>

<table>
<% @locations.each do |location| %>

  <!-- <li><%= location.title %>, <%= location.title %>, <%= location.price %> </li> -->
  <tr>
  <td>
  	<%= link_to location.title, location_url(location) %>
  </td>
  <td>
  	<%= button_to "delete", location_url(location), method: :delete %>
  </td>
  </tr>

<% end %>
</table>

<br><br>
<%= link_to "Add New Location", new_location_url %>
