<h1><%= @location.title %></h1>

<p><strong>Description:</strong> <%= @location.description %></p>
<p><strong>Price :</strong><%= @location.price %></p>

<%= link_to "Edit Location", edit_location_url(@location) %>
<%= link_to "Add Review", new_location_review_url(@location) %>

<br><br>
<%= button_to "Remove Location", location_url(@location), method: :delete %>
<br><br>
<%= render partial: "layouts/reviews", locals: {reviews: @reviews} %>


